@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

body {
    background-color: #252525;
}

/*! CONTROLE DO VÍDEO ABAIXO DO HEADER */
.video-container {
    position: relative; /* Define a posição relativa para que possamos posicionar o gradiente sobre o vídeo */
    width: 100%; /* Define a largura máxima para o vídeo */
    overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse os limites da div */
}

.video-container video {
    width: 100%; /* Garante que o vídeo preencha toda a largura da div pai */
    height: auto; /* Mantém a proporção original do vídeo */   
}

.gradient-overlay {
    position: absolute; /* Define a posição absoluta para que a camada de gradiente fique sobre o vídeo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #2525259d, #252525a9, #252525c7, #252525ea, #252525fd, #252525);
    /* background: linear-gradient(to bottom, #25252596, #25252596, #25252596, #25252596, #25252596, #25252596, #25252596, #252525c9, #252525ea, #252525);
     */
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 36.5%;
    /* width: 100%; */
}

.logo img {
    width: 50px;
    padding-top: 4px;
}

.text-logo {
    display: flex;
    flex-direction: column;
}

.text-logo h4 {
    font-family: 'VT323', monospace;
    font-size: 20px;
    font-weight: 300;
    color: white;
}

#h4-2 {
    color: rgb(32, 155, 255);
    font-weight: 500;
}

h4:first-child {
    margin-bottom: -5px; /* Define a margem inferior */
}

/*! SETA QUE SOBE A PÁGINA */
.arrow-up {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9997;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    /* background-color: rgb(32, 136, 255); */
    background: linear-gradient(to bottom, rgb(32, 136, 255), rgb(32, 136, 255), rgb(32, 222, 255));
    width: 40px;
    height: 40px;
}

.arrow-up i {
    font-size: 25px;
    color: white
    

}

/*! ATALHOS INTELIGENTES */

.atalhos {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9997;
    right: 20px;
    bottom: 70px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(32, 136, 255), rgb(32, 136, 255), rgb(32, 222, 255));
    width: 40px;
    height: 40px;
}

.atalhos i {
    font-size: 25px;
    color: white
    

}

.infosInput {
    position: fixed;
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #535353;
    width: 320px;
    padding: 15px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.infosInput p {
    color: gold;
    font-size: 16px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 9998;
}

#closeInfosInput {
    position: absolute;
    right: 3px;
    top: 3px;
    color: #424242;
    font-size: 20px;
    font-weight: bold;
}

.box-titulo-infosinput {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.box-titulo-infosinput h3 {
    color: white;
    text-align: left;
}

.box-titulo-infosinput p {
    color: rgb(161, 161, 161);
    font-size: 16px;
    text-align: justify;
    padding-bottom: 10px;
}


/*! HEADER */
.caixa-header {
    display: flex;
    flex-direction: row;
    background-color: #333;
    align-items: center;
    justify-content: center;
    height: 55px;
    gap: 10px;
}

.caixa-header input {
    width: 70%;
    height: 30px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #535353;
    color: #b3b3b3;
    padding-left: 7px;
    border: 2px solid #333;
}

.caixa-header input:focus {
    border: 2px solid rgb(32, 136, 255) !important;
}

.caixa-header a {
    text-decoration: none;
    color: #535353;
}

.caixa-header a i {
    font-size: 30px;
    padding-top: 4px;
}

.active {
    color: rgb(32, 136, 255);
}
/*! ---------- */

/*! MAIN */
.caixa-main {
    background-color: #252525;
}

.quantias {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #535353;
    padding: 10px;
}

.caixa-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 20px;
    padding-right: 20px;
    gap: 17px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-bottom: 20px;
    /* gap: 4px; */
}

.card img {
    width: 100%;
    height: 150px;
}

.card h2 {
    color:#cacaca;
    font-size: 13px;
    padding: 3px;
    text-align: center; /* Centraliza o texto */
    overflow: hidden; /* Oculta o texto que ultrapassa o tamanho do contêiner */
    white-space: nowrap; /* Evita que o texto seja quebrado em várias linhas */
    text-overflow: ellipsis; /* Adiciona reticências (...) para indicar texto truncado */
    max-width: 100%; /* Garante que o texto não ultrapasse a largura máxima do contêiner */
}

.eps-temps {
    display: flex;
    gap: 5px;
}

.eps-temps div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    color: #818181;
}

.eps-temps div i {
    font-size: 13px;
    /* padding-top: 1px; */
}

.eps-temps div p {
    font-size: 13px;
}